repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: 'docs/'
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.56.1
    hooks:
      - id: golangci-lint-full
        language: golang
        language_version: 1.21.5

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks
    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'main'
  autoupdate_commit_msg: 'chore(pre-commit.ci): pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [golangci-lint-full]
  submodules: false
